# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Damian Lajara
#	email = dlajara@cipherhealth.com
[user]
	name = Damian Lajara
	email = dlajara@cipherhealth.com
